* {
    margin: 0;
    padding: 0;
  }

main {
    top: 100px;
    position: relative;
}

.main-info{
    margin: 200px 500px 400px;
    
    
    
 }
 #primary h1 {
     text-align: center;
     line-height: 5em;
     margin-bottom: 20px;
 }

 h1{
     margin-bottom: 20px;
     margin-top: 100px;
 }

header {
    font-size: 35px;
    text-align: center;
    color: rgb(237, 247, 236);
}
.introduction {
    display: inline-block;
}
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg,
    #124886, #04304e);
    color: rgb(255, 255, 255);
    font-weight: normal;
    line-height: 1.7;
    font-size: 18px;
    text-align: left;
}

#section-three .mid-page{
    margin: 50px 500px 400px;
    position: relative;
   
}

.heading ul {
    text-align: center;
    font: 11px;
    border: thick dotted white;
    border-radius: 5%;
    padding: .8em;
    height: 100px;
    width: 100px;
    position: relative;
    margin: 0 auto;
    
}

 #embed1 {
    width: 300;
    height: 200;
    margin-top: 75px;
    left:130px;
    position: relative;
    
   
    
}
#section-one .image {
    background-image: url("trees.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    top: 300px;
    
  
}
.image .caption  {
    text-transform: capitalize; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #000000;
    width: 10%;
    height:33%;
    font-style: italic;
    background: #d0dd1398;
    padding: 1em;
    position: relative;
    display: inline-block;
    text-align: left;
    top: 50%;
    
    
}

thead {
    background-color: #000000;
    font: 20px;
    text-align: left;
    height: 6em;
    


}

#table-one {
    margin-top: 200px; 
    left: 600px;
    right: 600px;
    width: 33%;
    bottom: 100px;
    position: relative;
    border: 3px solid black;
    
    
    
}





a:visited {
    color: white;
}

a:link {
    color: white}

 a:hover {
     color: rgb(211, 255, 15);
 }   

#section-one .image h1  {
    border: thick double #074107;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font: 22px;
    line-height: 2;
    text-align: center;
    width: 40%;
    margin-left:30%;
    bottom: 20%;
    word-spacing: .25em;
    background: #d0dd1398;
    color: #000000;
    
}




   
